.breadcrumbs {
  margin-bottom: 20px;
  font-size: 14px;
}

.breadcrumb-link {
  background: none;
  border: none;
  color: #dfdfdf;
  cursor: pointer;
  font-weight: bold;
  padding: 0;
}

.breadcrumb-link:disabled {
  color: #d20c0c;
  cursor: default;
}
