/* Сохранение текущего стиля контейнера */
.profile-container {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px 30px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  box-shadow: 0 4px 10px #171717;
  margin-top: 70px;
}

/* Заголовок */
.profile-title {
  text-align: center;
  margin-bottom: 20px;
  color: #dbdbdb;
}

/* Информация профиля */
.profile-info p {
  font-size: 16px;
  margin: 10px 0;
  color: #efeeee;
}

/* Метки */
.profile-label {
  font-weight: bold;
  color: #e9e8e8;
  margin-right: 8px;
}

/* Ошибка */
.profile-error {
  color: #d32f2f;
  text-align: center;
  font-weight: bold;
}

/* Загрузка */
.profile-loading {
  text-align: center;
  color: #666;
}

/* Стили для формы редактирования */
.profile-edit {
  display: flex;
  flex-direction: column;
}

.profile-edit label {
  margin-bottom: 15px;
  font-size: 16px;
}

.profile-input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Кнопки "Сохранить" и "Отмена" */
.button-container {
  display: flex;
  justify-content: space-between;
}

.save-btn, .cancel-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

.save-btn {
  background-color: #4CAF50;
  color: white;
}

.save-btn:hover {
  background-color: #45a049;
}

.cancel-btn {
  background-color: #f44336;
  color: white;
}

.cancel-btn:hover {
  background-color: #e53935;
}

/* Кнопка редактирования */
.edit-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f32121;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


/* Уведомления об успешном обновлении */
.profile-success {
  color: #4CAF50;
  background-color: #e8f5e9;
  padding: 10px;
  border-radius: 4px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
  transition: opacity 0.5s ease-in-out;
}

/* Ошибка */
.profile-error {
  color: #d32f2f;
  background-color: #fce4ec;
  padding: 10px;
  border-radius: 4px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.profile-orders-title {
  margin-top: 20px;
  font-size: 1.5em;
  font-weight: bold;
}

.orders-list {
  list-style-type: none;
  padding-left: 0;
}

.order-item {
  background-color: #272626;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.order-item h4 {
  margin: 0;
  font-size: 1.2em;
}

.order-item ul {
  list-style-type: none;
  padding-left: 0;
}

.order-item li {
  margin-left: 10px;
}


